html, body {
    height: 100%;
}

h1 {
    font-size: 25px;
    line-height: 40px;
}

h2 {
    font-size: 18px;
    line-height: 25px;
}

h3 {
    font-size: 14px;
    line-height: 16px;
}

h1 small {
    font-size: 14px;
}