/* sticky footer hack */

#wrap {
    height: auto !important;
    margin: 0 auto -75px;
    min-height: 100%;
}

.push, #footer {
    height: 60px;
}

.alert p:last-child {
    margin-bottom: 2px;
}

.nowrap {
    white-space: nowrap;
}

/* menu */
div.container a.brand {
    width: 210px;
    height: 25px;
    margin: 8px 25px 0px 5px;
    padding: 0px;
    background-image: url("../images/e-concordance_min_634x75.png");
    background-size: 210px 25px;
    background-repeat: no-repeat;
}

div.menu_hack {
    height: 20px;
}

/* home page */
div.main-logo {
    background-image: url("../images/e-concordance_804x400.jpg");
}

div.main-logo-desktop {
    height: 234px;
    background-size: 470px 234px;
    background-repeat: no-repeat;
    background-position: center;
}

div.main-logo-tablet {
    height: 200px;
    background-size: 400px 200px;
    background-repeat: no-repeat;
    background-position: center;
}

div.main-logo-phone {
    height: 130px;
    margin-top: 20px;
    background-size: 260px 130px;
    background-repeat: no-repeat;
    background-position: center;
}

div.pre_day_verse {
    height: 30px;
}

div.day_verse {
    margin: 10px 15px 5px 20px;
}

div.day_verse p {
    font-size: 1.1em;
}

div.day_verse td {
    height: 120px;
    vertical-align: middle;
}

div.main-category {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EEEEEE;
}

div.main-category:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    div.main-category p {
        text-align: center;
    }
}

a.main-category-logo {
    display: block;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

a.bible_logo {
    background-image: url("../images/logo_bible.png");
    background-size: 94px 80px;
}

a.hetc_logo {
    background-image: url("../images/logo_hetc.png");
    background-size: 112px 73px;
}

a.cpe_logo {
    background-image: url("../images/logo_cpe.png");
    background-size: 190px 38px;
}

@media (max-width: 768px) {
    a.cpe_logo {
        height: 50px;
    }
}

#options {
    margin-top: 10px;
}

/* indexes */
.index-mode {
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 6px;
    padding-top: 5px;
    margin-right: 8px;
    font-weight: bold;
}

/* bible index */
h2.newTestament {
    margin-top: 20px;
}

div.newTestament {
    margin-bottom: 30px;
}

/* bible read */
ul.pager {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.paginationChaptersNumbers {
    text-align: center;
    font-size: 1em;
    padding: 7px 0px 7px 0px;
}

div.chapter {
    margin: 15px 0px 20px 0px;
}

div.chapterText {
    margin: 15px 20px 10px 20px;
}

div.chapterText table {
    width: 100%;
}

td.chapterHeader {
    padding-bottom: 15px;
    text-align: center;
}

td.verseNumber {
    text-align: right;
    padding-right: 5px;
    vertical-align: top;
    white-space: nowrap;
}

/* bible search */
div.paginationPagesNumbers {
    text-align: center;
    font-size: 1em;
    margin-top: 4px;
}

div.searchHelp {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.searchHelp > ul > li {
    margin-top: 20px;
    margin-bottom: 30px;
}

div.searchResults {
    margin: 15px 0px 20px 0px;
}

div.searchResultsText {
    margin: 15px 20px 10px 20px;
}

td.searchVerseNumber {
    padding-right: 5px;
    vertical-align: top;
    white-space: nowrap;
}

/* songs read */
td.songVerseNumber {
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

/* songs search */
td.searchSongNumber {
    padding-top: 10px;
    padding-right: 20px;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
}

td.searchSongNumber h1 {
    margin: 0px;
    padding: 0px;
}

td.songVerseText {
    padding-top: 20px;
}

/* contact form */
table.contact-form {
    width: 100%;
}
table.contact-form tr td:first-child {
    width: 180px;
    text-align: right;
    padding-right: 10px;
    padding-top: 6px;
    vertical-align: top;
}
table.contact-form tr:first-child {
	display: none;
}

/* news */
div.news {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #EEEEEE;
}

div.news:last-child {
    border-bottom: none;
}

div.news .label {
    margin-bottom: 10px;
}

p.news-content li {
    line-height: 10px;
}